spring:
  application:
    name: cms
  datasource:
    url: jdbc:postgresql://localhost:5432/cms_app
    username: postgres
    password: postgres
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect